@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.trapezoid {
    border-bottom: 30px solid transparent;
    border-Top: 30px solid transparent;
    border-left: 180px solid #66B2ff;
    height: 71px;

  }

  .demo {
    clip-path: polygon(100% 24%, 100% 70%, 62% 98%, 62% 0);

  }

  ::-webkit-scrollbar {
    display: none;
  }